_doc/
backup/
dist/
build/
docs/build
src/miniproject.egg-info
src/miniproject/*.dll
src/miniproject/dev/c_doc/
src/miniproject/dev/c_files/
src/miniproject/dev/pxd_files/
temp/

__pycache__
.cache
.eggs
.pytest_cache

*.egg-info
*.pyc
*.pyd
*.o
*.old
*~


